@model MMFI_Entites.ViewModels.RecipesMainVM
@{
    Layout = null;
}



<body>
    @if (Model.Recipes != null && Model.Recipes.Count > 0)
    {
        @foreach (var recipe in Model.Recipes)
        {
            <div class="recipe-container">
                <div class="recipe">
                    <div class="img-space">
                        @if (recipe.Images != null && recipe.Images.Count > 0)
                        {
                        <img src="@recipe.Images.ElementAt(0).ImagePath">
                        }else
                        {
                            <img src="https://www.tastefullysimple.com/_/media/images/recipe-default-image.png" />
                        }
                    </div>
                    <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <span>@recipe.Likes</span>
                    </div>
                    <div class="recipe-info">
                        @Html.ActionLink(@recipe.RecipeName,
                       "GetRecipe",  // <-- ActionMethod.
                       "Recipes",   // <-- Controller Name
                       new { id = recipe.RecipeId }, // <-- Route arguments.
                       null)
                        <h5>@recipe.RecipeCategory</h5>                       
                        <h5>@recipe.RecipeTime minutes</h5>
                        <h5>@Html.ActionLink(@recipe.Sender.UserName,
                       "GetOUserProfile",  // <-- ActionMethod.
                       "Users",   // <-- Controller Name
                       new { userId = recipe.Sender.Id }, // <-- Route arguments.
                       null)</h5>
                    </div>
                </div>
            </div>
        }
    }
    
</body>