@model MMFI_Entites.ViewModels.CommentVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h1><small class="pull-right">@Model.comments.Count()</small> Comments </h1>
            </div>
            <div class="comments-list" id="commentSec">
                @if (Model.comments != null)
                {
                    foreach (var comment in Model.comments)
                    {
                    <div class="media">
                    <p class="pull-right"><small>@comment.Date.ToString()</small></p>                                       
                    <div class="media-body">

                        <h4 class="media-heading user_name">@comment.UserName</h4>
                        
                        @comment.Text

                        <p><small><button type="submit" id="likeButton" class=" btn btn-primary">Like</button> - <button type="submit" id="shareButton" class=" btn btn-primary">Share</button></small></p>
                        @if (comment.UserId == Model.UserId)
                        {
                        <form asp-action="DeleteComment">
                            <input type="hidden" asp-for="@comment.CommentID" />
                            <button type="submit" id="deleteButton" class="btn btn-primary">Delete</button>                            
                        </form>
                        }
                    </div>
                    </div>
                    }
                }
            </div>
        </div>
    </div>
</div>





<form asp-action="LeaveComment" data-ajax-begin="clearInputField" data-ajax-complete="" data-ajax-failure="alert('Fail')" data-ajax-success="sendComment" data-ajax="true" data-ajax-method="POST">

    <div class="form-group">
        <label>Example textarea</label>
        <textarea class="form-control" id="text" rows="3" name="Text"></textarea>
    </div>
    <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
</form>


@section scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery-unobtrusive-ajax.min.js"></script>
    <script src="~/js/comment.js"></script>
    <script src="~/js/signrReqHandler.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
}


