@model MMFI_Entites.ViewModels.RecipesMainVM


@{
    Layout = null;
}

    <head>
        <link rel="stylesheet" href="~/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
        <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    </head>
    

    <body>

        <partial name="_NavbarPartial" />

        @if (Model.Recipes != null && Model.Recipes.Count > 0)
        {
            @foreach (var recipe in Model.Recipes)
            {
                <div class="recipe-container">
                    <div class="recipe">
                        <div class="img-space">
                            <img src="https://www.foodiesfeed.com/wp-content/uploads/2019/06/top-view-for-box-of-2-burgers-home-made.jpg">
                        </div>
                        <div class="rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <span>(1837)</span>
                        </div>
                        <div class="recipe-info">                
                            @Html.ActionLink(@recipe.RecipeName,
                            "GetRecipe",  // <-- ActionMethod.
                            "Recipes",   // <-- Controller Name
                            new { id = recipe.RecipeId }, // <-- Route arguments.
                            null)
                            <h6>@recipe.RecipeCategory</h6>
                            <h6>@recipe.RecipePortions</h6>
                            <h6>@recipe.RecipeTime</h6>
                        </div>
                    </div>
                </div>
            }
        }
        <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>



    </body>

