@model MMFI_Entites.ViewModels.RecipeVM


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/recipe-page.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="~/js/recipe-page-scripts.js"></script>
    <title>Document</title>
</head>
<body onload="currentSlide(1)">
    <partial name="_NavbarPartial" />
    <div class="container">
        <div class="button">
            <button class="like-button">Like</button>
        </div>
        <div class="recipe-title">
            <h1>Recipe Title</h1>
        </div>
        <div class="slideshow-container">
            @if (Model.Images != null && Model.Images.Count > 0)
            {
            @foreach (var image in Model.Images)
            {
                var counter = 1;
            <div class="images">
                <div class="numbertext"> @counter/@Model.Images.Count</div>
                <img src="@image.ImagePath">

                <div class="recipe-info">
                    <p>Servings : @Model.RecipePortions</p>
                    <p>Time to prepare : @Model.RecipeTime</p>
                    <p></p>
                </div>
            </div>
            }
            }
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

        <div class="ingridients-list">
            <div class="adjustment">
                <div class="counter">
                    <button class="adjust-minus" onclick="decreaseCounter()">-</button>
                    <div class="adjustment-size" id="counter">1</div>
                    <button class="adjust-plus" onclick="increaseCounter()">+</button>
                </div>
                <button class="adjustment-button">Adjustment button</button>
            </div>
            <h1>Ingridients :</h1>
            <ul>
                @if (Model.Ingridients != null && Model.Ingridients.Count > 0)
                {
                @foreach (var ingridient in Model.Ingridients)
                {
                <li>@ingridient.Name</li>             
                }
                }
            </ul>
        </div>
        <div class="recipe-instructions">
            <h1>Instructions :</h1>
            <p>
                @Model.RecipeInstructions
            </p>
        </div>
        <div class="author">
            <a>@Model.Sender.UserName</a>
            <p>@Model.PostedOn</p>
        </div>
    </div>
</body>
</html>

