@model MMFI_Entites.ViewModels.UserVM


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/usrstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <div class="container">

        <div class="upper-side">
            <div class="profile-container">
                <a class="home-link" asp-controller="Recipes" asp-action="Select"><img src="~/images/ViewImages/house-32.png" /></a>
                <div class="profile-image">
                    <img src=@Model.ProfileImage.ImagePath>
                    <a asp-action="CreateRecipe" asp-controller="Recipes"><img src="~/images/ViewImages/chef.png"></a>
                    <a onclick="addProfilePic()"><img src="~/images/ViewImages/profile.png"></a>
                </div>
                <div class="user-info">
                    <p><h3>@Model.UserName</h3></p>
                    <p>@Model.Description</p>
                    <div class="follow">
                        @if (Model.Followers != null && Model.Followers.Count() > 0)
                        {
                            <a>@Model.Followers.Count()</a>
                        }
                        else
                        {
                            <a>0</a>
                        }
                        <a>24 Obserwowani</a>
                    </div>
                    <a>@Model.Rating</a>
                </div>
                <div class="my-cs">

                </div>
            </div>
        </div>

        <div class="recipe-container">
            <nav>
                <ul>
                    <li onclick="hideLiked()"><i class="fas fa-book-open"></i>Recipes</li>
                    <li onclick="hideRecipes()"><i class="fas fa-heart"></i>Liked</li>
                </ul>
            </nav>

            <div id="recipes" class="recipes">             
                @foreach (var recipe in Model.Recipes)
                {
                <div class="recipe">
                    <img src="https://www.expatica.com/app/uploads/sites/5/2020/03/Boeuf-bourguignon-1920x1080.jpg">
                    <h4>
                        @Html.ActionLink(@recipe.RecipeName,
               "GetRecipe",  // <-- ActionMethod.
               "Recipes",   // <-- Controller Name
               new { id = recipe.RecipeId }, // <-- Route arguments.
               null)
                </h4>
                <div class="clock-portions">
                    <p><i class="far fa-clock"></i>@recipe.RecipeTime</p>
                    <p><i class="fas fa-utensils"></i>@recipe.RecipePortions</p>
                </div>
                <p></p>
                </div>
                }
            </div>

            <div id="liked" class="liked">
                @foreach (var recipe in Model.LikedRecipes)
                {
                    <div class="recipe">
                        <img src="https://www.expatica.com/app/uploads/sites/5/2020/03/Boeuf-bourguignon-1920x1080.jpg">
                        <h4>@Html.ActionLink(@recipe.RecipeName,
                       "GetRecipe",  // <-- ActionMethod.
                       "Recipes",   // <-- Controller Name
                       new { id = recipe.RecipeId }, // <-- Route arguments.
                       null)</h4>                      
                        <div class="clock-portions">
                            <p><i class="far fa-clock"></i>@recipe.RecipeTime</p>
                            <p><i class="fas fa-utensils"></i>@recipe.RecipePortions</p>
                        </div>
                        <p></p>
                    </div>
                }
            </div>

        </div>
    </div>

    <div class="pop-up" id="pop">
        <div class="pop-up-container">
            <h2>Add profile image</h2>
            <button class="close" onclick="closePopUp()"><img src="https://img.icons8.com/ios/32/000000/circled-x.png" /></button>
            <div class="image-preview" id="imagePreview">
                <img src="" alt="Image Preview" class="preview-profile-image">
                <span class="preview-text">Image Preview</span>
            </div>
            <div class="image-form">
                <form asp-controller="Users" asp-action="AddProfilePic" enctype="multipart/form-data">
                    <input type="file" name="imageFile" id="image-input">
                    <button type="submit" class="save btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>

    <script src="~/js/user-scripts.js"></script>

</body>
</html>