@model MMFI_Entites.ViewModels.RecipeBrowseVM


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Recipes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeTime)
                </td>                             
                <td>
                    <a asp-action="Details" asp-route-id="@item.RecipeId">Menu</a>
                </td>
            </tr>
        }
    </tbody>
</table>